<div class="container">
  <h1>Restaurants</h1>
  <%= link_to 'Create a Restaurant', new_restaurant_path %>

    <% @restaurants.each do |restaurant| %>
      <ul>
        <li><%= restaurant.name %></li>
        <%= link_to 'View details', restaurant_path(restaurant)  %>
      </ul>
    <% end  %>
</div>
